<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<javaee:display-name>Apache-Axis2</javaee:display-name>

	<context-param>
		<param-name>photoRootPath</param-name>
		<param-value>E:\photos\</param-value>
	</context-param>
	<context-param>
		<param-name>diaryRootPath</param-name>
		<param-value>E:\diary\</param-value>
	</context-param>
	<servlet>
		<javaee:display-name>Apache-Axis Servlet</javaee:display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<javaee:display-name>Apache-Axis AxisAdmin Servlet (Web Admin)
		</javaee:display-name>
		<servlet-name>AxisAdminServlet</servlet-name>
		<servlet-class>
			org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisAdminServlet</servlet-name>
		<url-pattern>/axis2-admin/*</url-pattern>
	</servlet-mapping>
	<mime-mapping>
		<extension>inc</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>/axis2-web/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/axis2-web/Error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/axis2-web/Error/error500.jsp</location>
	</error-page>
	<servlet>
		<javaee:description></javaee:description>
		<javaee:display-name>AlbumServlet</javaee:display-name>
		<servlet-name>AlbumServlet</servlet-name>
		<servlet-class>service.servlet.AlbumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlbumServlet</servlet-name>
		<url-pattern>/AlbumServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<javaee:description></javaee:description>
		<javaee:display-name>PhotoUrlServlet</javaee:display-name>
		<servlet-name>PhotoUrlServlet</servlet-name>
		<servlet-class>service.servlet.PhotoUrlServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoUrlServlet</servlet-name>
		<url-pattern>/PhotoUrlServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>service.servlet.UserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/UserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhotoLikeServlet</servlet-name>
		<servlet-class>service.servlet.PhotoLikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoLikeServlet</servlet-name>
		<url-pattern>/PhotoLikeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>service.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthVoiceServlet</servlet-name>
		<servlet-class>service.servlet.AuthVoiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthVoiceServlet</servlet-name>
		<url-pattern>/AuthVoiceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateMessagesServlet</servlet-name>
		<servlet-class>service.servlet.UpdateMessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMessagesServlet</servlet-name>
		<url-pattern>/UpdateMessagesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AuthMessageServlet</servlet-name>
		<servlet-class>service.servlet.AuthMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthMessageServlet</servlet-name>
		<url-pattern>/AuthMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FriendMessagesServlet</servlet-name>
		<servlet-class>service.servlet.FriendMessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FriendMessagesServlet</servlet-name>
		<url-pattern>/FriendMessagesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>service.servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DiaryLikeServlet</servlet-name>
		<servlet-class>service.servlet.DiaryLikeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiaryLikeServlet</servlet-name>
		<url-pattern>/DiaryLikeServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<javaee:description></javaee:description>
		<javaee:display-name>CommentServlet</javaee:display-name>
		<servlet-name>CommentServlet</servlet-name>
		<servlet-class>service.servlet.CommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentServlet</servlet-name>
		<url-pattern>/CommentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PhotoServlet</servlet-name>
		<servlet-class>service.servlet.PhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PhotoServlet</servlet-name>
		<url-pattern>/PhotoServlet</url-pattern>
	</servlet-mapping>
	<!-- 主页的message -->
	<servlet>
		<servlet-name>MessagesServlet</servlet-name>
		<servlet-class>service.servlet.MessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MessagesServlet</servlet-name>
		<url-pattern>/MessagesServlet</url-pattern>
	</servlet-mapping>
	<!-- 用户页面的message -->
	<servlet>
		<servlet-name>MyMessagesServlet</servlet-name>
		<servlet-class>service.servlet.MyMessagesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyMessagesServlet</servlet-name>
		<url-pattern>/MyMessagesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MySlaveVoicesServlet</servlet-name>
		<servlet-class>service.servlet.MySlaveVoicesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySlaveVoicesServlet</servlet-name>
		<url-pattern>/MySlaveVoicesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MySlaveLocationServlet</servlet-name>
		<servlet-class>service.servlet.MySlaveLocationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySlaveLocationServlet</servlet-name>
		<url-pattern>/MySlaveLocationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MySlaveMessageServlet</servlet-name>
		<servlet-class>service.servlet.MySlaveMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySlaveMessageServlet</servlet-name>
		<url-pattern>/MySlaveMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateAlbumServlet</servlet-name>
		<servlet-class>service.servlet.CreateAlbumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAlbumServlet</servlet-name>
		<url-pattern>/CreateAlbumServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchFriendServlet</servlet-name>
		<servlet-class>service.servlet.SearchFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchFriendServlet</servlet-name>
		<url-pattern>/SearchFriendServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFriendServlet</servlet-name>
		<servlet-class>service.servlet.AddFriendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFriendServlet</servlet-name>
		<url-pattern>/AddFriendServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadPhotoServlet</servlet-name>
		<servlet-class>service.servlet.UploadPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadPhotoServlet</servlet-name>
		<url-pattern>/UploadPhotoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UploadVoiceServlet</servlet-name>
		<servlet-class>service.servlet.UploadVoiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadVoiceServlet</servlet-name>
		<url-pattern>/UploadVoiceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SmsServlet</servlet-name>
		<servlet-class>service.servlet.SmsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmsServlet</servlet-name>
		<url-pattern>/SmsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteDiaryServlet</servlet-name>
		<servlet-class>service.servlet.WriteDiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteDiaryServlet</servlet-name>
		<url-pattern>/WriteDiaryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteMessageServlet</servlet-name>
		<servlet-class>service.servlet.DeleteMessageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMessageServlet</servlet-name>
		<url-pattern>/DeleteMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteVoiceServlet</servlet-name>
		<servlet-class>service.servlet.DeleteVoiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteVoiceServlet</servlet-name>
		<url-pattern>/DeleteVoiceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedbackServlet</servlet-name>
		<servlet-class>service.servlet.FeedbackServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackServlet</servlet-name>
		<url-pattern>/FeedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WriteCommentServlet</servlet-name>
		<servlet-class>service.servlet.WriteCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WriteCommentServlet</servlet-name>
		<url-pattern>/WriteCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifySignatureServlet</servlet-name>
		<servlet-class>service.servlet.ModifySignatureServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifySignatureServlet</servlet-name>
		<url-pattern>/ModifySignatureServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NearByPeopleServlet</servlet-name>
		<servlet-class>service.servlet.NearByPeopleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NearByPeopleServlet</servlet-name>
		<url-pattern>/NearByPeopleServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NearByPhotoServlet</servlet-name>
		<servlet-class>service.servlet.NearByPhotoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NearByPhotoServlet</servlet-name>
		<url-pattern>/NearByPhotoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyLocationServlet</servlet-name>
		<servlet-class>service.servlet.ModifyLocationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyLocationServlet</servlet-name>
		<url-pattern>/ModifyLocationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyUserInfoServlet</servlet-name>
		<servlet-class>service.servlet.ModifyUserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyUserInfoServlet</servlet-name>
		<url-pattern>/ModifyUserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DiariesServlet</servlet-name>
		<servlet-class>service.servlet.DiariesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiariesServlet</servlet-name>
		<url-pattern>/DiariesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitorsServlet</servlet-name>
		<servlet-class>service.servlet.VisitorsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitorsServlet</servlet-name>
		<url-pattern>/VisitorsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddVisitorServlet</servlet-name>
		<servlet-class>service.servlet.AddVisitorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVisitorServlet</servlet-name>
		<url-pattern>/AddVisitorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DiaryServlet</servlet-name>
		<servlet-class>service.servlet.DiaryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DiaryServlet</servlet-name>
		<url-pattern>/DiaryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyFriendsServlet</servlet-name>
		<servlet-class>service.servlet.MyFriendsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyFriendsServlet</servlet-name>
		<url-pattern>/MyFriendsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MySlavesServlet</servlet-name>
		<servlet-class>service.servlet.MySlavesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MySlavesServlet</servlet-name>
		<url-pattern>/MySlavesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendGiftServlet</servlet-name>
		<servlet-class>service.servlet.SendGiftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendGiftServlet</servlet-name>
		<url-pattern>/SendGiftServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyGiftServlet</servlet-name>
		<servlet-class>service.servlet.MyGiftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyGiftServlet</servlet-name>
		<url-pattern>/MyGiftServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TouchServlet</servlet-name>
		<servlet-class>service.servlet.TouchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TouchServlet</servlet-name>
		<url-pattern>/TouchServlet</url-pattern>
	</servlet-mapping>
</web-app>