<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.kaixin.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <!-- 需要的权限 -->
    <!-- 读取设置权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 创建和删除快捷方式权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    
    <uses-permission android:name="android.permission.INTERNET"/> 
    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 接收手机完全开启状态权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <!-- 读取电话状态权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 读取通讯录权限 -->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.READ_CONTACTS_CALLS" />
	
	<!-- 监听广播 -->
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
	<!-- 监听广播 -->
	<uses-permission android:name="android.intent.action.NEW_OUTGOING_CALL"></uses-permission>
	<!-- 接受短信 -->
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<uses-permission android:name="android.permission.RESTART_PACKAGES"/>
	<uses-permission android:name="android.permission.WRITE_SMS" />
	<uses-permission android:name="android.permission.READ_SMS" />
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    
    <PreferenceScreen>
            <intent
                android:action="android.intent.action.MAIN"
                android:targetPackage="com.android.settings"
                android:targetClass="com.android.settings.WirelessSettings" />
        </PreferenceScreen>

    <application
        android:icon="@drawable/icon"
        android:label="OOXX"
        android:name=".KXApplication"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" >
        </activity>
        <activity android:name=".activity.RegActivity" >
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ChangeWallpagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.EditSignatureActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.ContactsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ContactDetailPage"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoAvatarDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoPictureDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomePhotoPictureDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomePhotoCommentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoCommentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DiaryCommentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomeDiaryCommentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.PhotoCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.DiaryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DiaryDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HomeDiaryDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 自定义的contextmenu -->
        <activity
            android:name=".activity.ContextMenu"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <!-- 显示下载大图页面 -->
        <activity
            android:name=".activity.ShowBigImage"
            android:theme="@style/horizontal_slide" >
        </activity>
        <!-- 自定义的alertdialog -->
        <activity
            android:name=".activity.AlertDialog"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name=".activity.WriteDiaryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.FriendsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AddFriendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SearchFriendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <service
            android:name=".service.UploadAvatarService"
            android:screenOrientation="portrait" >
        </service>
        <service
            android:name=".service.UploadImageService"
            android:screenOrientation="portrait" >
        </service>
        <service android:name=".service.ListenerService"
            android:process=":remote">
        </service>
        <receiver android:name=".service.BroadcastReceiverMgr">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <category android:name="android.intent.category.HOME"/>
                
                <action android:name="com.kaixin.destroy" />  
                <action android:name="android.intent.action.USER_PRESENT" /> 
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />  
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter android:name="android.intent.action.ACTION_TIME_TICK"></intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
            <intent-filter >
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
            <intent-filter >
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>     
             <action android:name="android.intent.action.PACKAGE_ADDED" />     
             <action android:name="android.intent.action.PACKAGE_REMOVED" />     
              <data android:scheme="package" />     
				<!-- 注意！！ 这句必须要加，否则接收不到BroadCast -->     
            </intent-filter>
        </receiver>
        <service
            android:name=".service.MessagePushService"
            android:screenOrientation="portrait"  >
        </service>
        <activity
            android:name=".activity.VisitorsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FriendInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SlaveInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name=".activity.ChatLogsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SendGiftActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SelectGiftActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SelectFriendsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".activity.VoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PlayVoiceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.DeletePhotoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhoneAlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AlbumActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterCropActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterEffectActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterFrameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ImageFilterFaceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhotoShareActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.WriteRecordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CheckInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".activity.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.SetUpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ExportActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.UploadActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <receiver android:name=".service.NewMessageBroadcastReceiver">
        </receiver>
        
        <receiver android:name=".activity.ChatActivity$ChatMessageBroadcastReceiver">
        </receiver>
        <!-- 地图 -->
        <activity
            android:name=".activity.BaiduMapActivity"
            android:theme="@style/horizontal_slide" >
        </activity>
        <activity
            android:name=".activity.InviteActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101853758" /><!-- 100380359 100381104 222222 -->
            </intent-filter>
        </activity>
        
        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="ganzi01234#kxw" />
    </application>

</manifest>